
@font-face {
  font-family: 'fugue';
  src: url('../fonts/fugue_regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/fugue_regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/fugue_regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/fugue_regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/fugue_regular.svg#26a5f4031ec4a4c21898163151754229') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'fugue_italic';
  src: url('../fonts/fugue_regular_italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/fugue_regular_italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/fugue_regular_italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/fugue_regular_italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/fugue_regular_italic.svg#d696cb6ae561ddf017cc2359a2f52c53') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}


@font-face {
  font-family: 'fugue_head';
  src: url('../fonts/fugue_head.otf?') format('opentype');
}

@font-face {
  font-family: 'fugue_mono';
  src: url('../fonts/fugue_mono.eot'); /* IE9 Compat Modes */
  src: url('../fonts/fugue_mono.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/fugue_mono.woff') format('woff'), /* Modern Browsers */
       url('../fonts/fugue_mono.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/fugue_mono.svg#ad93fa62c0641f5962568948ab91a19d') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'TasseMed';
  src: url('../fonts/Tasse-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Tasse-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Tasse-Medium.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Tasse-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Tasse-Medium.svg#e117a1770fb19069a4c40658bef25b95') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}


input {
    -webkit-appearance: none;
    border-radius: 0;
}


@media only screen and (min-width: 320px) {
    #landing_page {
        /*display:none;*/
        width:88vw;

        /*background:rgba(0,0,0,0.7);*/
        margin:0 auto;
        padding:0;
        padding-top:2em;
        padding-bottom:6em;
    }  

    /* DATE */
    .date {
        position:relative;
        overflow:auto;
        margin-bottom:5em;
        width:100%;
        font-weight:500;
        font-size: 0.5em;
        letter-spacing: 0.5em;
        color:rgba(255,255,255,1.0);
    }
    .date span {
        position:relative;
        display:block;
        float:left;
        width:33.33%;
        text-align: center;
        margin:0;
    }
    .date p {
        text-transform:uppercase;
    }
    .date .day {
        text-align:left;
    }
    .date .month-day {
        text-align:center;
    }
    .date .time {
        text-align: right;
    }

    /* HED */
    .hed {
        width:100%;
        margin-top:3em;
        margin-bottom:2em;
        position:relative;
    }
    .hed svg {
        position:relative;
        opacity:0.8;
        width:97vw;
        margin-left:-4vw;
    }
    .hed h1 {display:none;}
    .hed img {display:none;}
    
    /* DEK */
    


    /* PERFORMERS */
    
    .performers {
        font-family: 'fugue';
        font-size: 1em;
        line-height: 2.1em;
    }
    .performers ul {
        display:block;
        padding:0;
        text-align: center;
        margin:0;
    } 
    .performers ul:after {
      content: '';
      width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
      display: inline-block;
    } 
    .performers li {
        display:inline-block;
        list-style: none;
        padding:0;
        padding-left:10px;
        padding-right:10px;
        padding-bottom:10px;
        margin:0;

        letter-spacing: 0.1em;
        opacity: 0.9;
        font-weight:400;
        /*text-decoration: underline;*/
    }
	.performers li a {
	     padding: .4em;
	}
    .performers li a:link, .performers li a:visited {
		  text-shadow: inherit;
		  border: 1px solid transparent;
	 }
    .performers li a:hover, .performers li a:active{
	     background-color: #fff;
		  color: #000;
		  text-shadow: none;
		  //border: 1px solid;
	 }


    /* CTA */
    
    .cta {
        padding:0;
        overflow:auto;
        background-color:rgba(0,0,0,0.3);
    }

    input {
        background-color:rgba(0,0,0,0.35);
        border:0;
        /*border-bottom:1px solid rgba(0,0,0,0.9);*/
        outline:0;
        padding:0;
        margin:0;
        width:25%;
        float:left;
        padding-top:10px;
        padding-bottom:10px;
        padding-left:10px;
        font-size: 0.6em;
        box-sizing:border-box;
        color:white;
        font-family: 'fugue_mono';
        text-transform: uppercase;
        font-weight: 500;
		  letter-spacing: .1em;

    }

    input[type=submit] {
        background-color:rgba(7,0,214,0.9);
        font-weight: 800;
        letter-spacing: 0.1em;
        text-align: center;
        padding-left:10px;
        padding-right:10px;
        box-sizing:border-box;
    }

    input:active, input:focus {
        background-color:rgba(0,0,0,0.8);
    }

    /* HOSTS */
    .hosts {
        margin:0 auto;
        margin-top:4em;
        margin-bottom:5em;
        width:66%;
        text-align: center;
        font-family: 'fugue';
		  letter-spacing: .08em;
        text-transform: uppercase;
        font-size: 0.9em;
        line-height: 1.2em;
    }
    .hosts ul {padding:0;margin:0;}
    .hosts li {
        list-style: none;
        margin:0;padding:0;
		  line-height: 1.6em;
    }
    .hosts h2 {
        // opacity:0.8; // I dunno about this opacity
        font-family: 'fugue_mono';
        text-transform: uppercase;
        font-size: 0.8em !important;
        line-height: 2.6em;   
        margin:0;
        padding:0;
		  letter-spacing: .72em;
    }


    /* LOCATION */
    .location {
        margin:0 auto;
        text-align: center;
    } 
    .location h2 {
        font-family: 'fugue_mono';
        text-transform: uppercase;
        font-size: 0.8em !important;
        line-height: 2.6em;   
        margin:0;
        padding:0;
		  letter-spacing: .72em;
    } 
    .location p {
        text-transform: uppercase;
        font:0.8em/1.8em 'fugue_mono';
        letter-spacing: 0.2em;
        font-weight: 400;
		  margin-top: 0;
		  margin-bottom: 0;
	 }
	 .location .allgold-logo {
	     font-family: 'TasseMed';
		  font-size: 2.4em;
		  line-height: 1.0em;
		  display: block;
		  letter-spacing: 0.08em;
	 }
}

@media only screen and (min-width: 641px) {
    #landing_page {
        margin-top:4em;
        width:70vw;
    }
    .date {font-size:0.9em;}
    .hed svg {width:79vw;}
    .performers {font-size: 1.6em;}
    .performers li {padding-left:25px;padding-right:25px;}
    .cta input {font-size: 0.8em;padding:;}
    .hosts {margin-bottom:3em;}
}

@media only screen and (min-width: 822px) {
    #landing_page {
        width:60vw;
    }

    .hed svg {
        width:68vw;
    }
}

@media only screen and (min-width: 1081px) {
    #landing_page {
        width:50vw;
    }

    .hed svg {
        width:57vw;
    }
}

@media only screen and (min-width:1441px) {
    #landing_page {
        width:40vw;
    }
    .hed svg {
        width:45vw;
        margin-left:-2.2vw;
    }
}

a, a:visited, a:active {
    color:white;
    text-decoration: none;
}

.dek {
    display:none;
}







video#bgvid { 
    /*display:none;*/
    opacity: 0.7;
    position: fixed; right: 0; bottom: 0; 
    min-width: 100%; min-height: 100%; 
    width: auto; height: auto; z-index: -100; 

}

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: white;
    font-size: 1em;
    padding:0;
    line-height: 1.4;
    background-color:black;
    /*background: url("../media/background.png") no-repeat; */
    background-size: cover; 
}

body {
    padding:0;
    margin:0;    
    font-family:  "Fugue", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    text-shadow:1px 1px 2px rgb(0,0,0);

}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
