
.date {
    position:relative;
    overflow:auto;
    margin-bottom:5em;
    width:100%;
    font-weight:500;
    font-size: 0.8em;
    letter-spacing: 0.2em;
    color:rgba(255,255,255,0.7);
}


.date span {
    position:relative;
    display:block;
    float:left;
    width:33.33%;
    text-align: center;
    margin:0;
}

/*.date span:after {
    content: '';
    width:100%;
    display:inline-block;
}*/

.date p {
    font-size:1.2em;
    text-transform:uppercase;
}


.date .day {
    text-align:left;
}

.date .month-day {
    text-align:center;
}

.date .time {
    text-align: right;
}

.hed {
    margin-top:6em;
    height:200px;
    margin-bottom:6em;
}

.hed img {
    width:100%;
}

.hed h1 {display:none;}

.performers {
    margin-bottom:6em;
}


.performers ul {
    display:block;
    padding:0;
    text-align: justify;
    margin:0;
} 
.performers ul:after {
  content: '';
  width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
  display: inline-block;
} 

.performers li {
    display:inline-block;
    list-style: none;
    padding:0;
    margin:0;
    font-size: 1.6em;
    letter-spacing: 0.05em;
    font-weight:400;
    text-decoration: underline;
    text-shadow:1px 1px 6px rgb(0,0,0);
}

.cta {
    margin-bottom:5em;
    padding:1em;
    overflow:auto;
    background-color:rgba(0,0,0,0.3);
}

input {
    background-color:rgba(0,0,0,0.35);
    border:0;
    /*border-bottom:1px solid rgba(0,0,0,0.9);*/
    outline:0;
    padding:0;
    width:25%;
    float:left;
    padding-top:1em;
    padding-bottom:10px;
    padding-left:10px;
    box-sizing:border-box;
    color:white;
    font-weight: 500;
}

input[type=submit] {
    background-color:rgba(7,0,214,0.9);
    font-weight: 800;
    letter-spacing: 0.1em;
}

input:active, input:focus {
    background-color:rgba(0,0,0,0.8);
}

.dek {
    display:none;
}

.hosts {
    text-transform: lowercase;
    weight:600;
    text-decoration: underline;
    font-size: 1.3em;
}

.hosts strong {
    text-decoration: none;
}

.location {
    text-align: center;
}

#landing_page {
    /*display:none;*/
    width:50vw;
    /*background:rgba(0,0,0,0.7);*/
    margin:0 auto;
    padding:2em;
    padding-top:4em;
}

video#bgvid { 
    opacity: 0.5;
    position: fixed; right: 0; bottom: 0; 
    min-width: 100%; min-height: 100%; 
    width: auto; height: auto; z-index: -100; 
/*  background: url(LRAD-Exploration-04.jpg) no-repeat; */
    background-size: cover; 
}

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: white;
    font-size: 1em;
    padding:0;
    line-height: 1.4;
    background-color:black;
}

body {
    padding:0;
    margin:0;    
   font-family:  "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;

}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
